@import "tailwindcss";

:root {
  --background: #F4F2EE;
  --background-two: #f9f7f2;
  --background-three: #F0F2F5;
  --foreground: #171717;
  --primary: #026ad6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: #F3F2EE;
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
             "Helvetica Neue", Arial, sans-serif;

}
